{% extends "layout/base.html.twig" %}

{% block content %}


	<main class="max-w-container-max mx-auto px-margin-mobile md:px-lg lg:px-xxl py-xl gap-x-5 ">
		<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-gutter">
			{% for property in properties %}

				<div class="group cursor-pointer" onclick="window.location.href='{{ path('property_show', {'id': property.id}) }}'">
					<div class="relative aspect-square mb-sm overflow-hidden rounded-xl bg-surface-container">
						<img alt="{{ property.title }}" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-105" data-alt="{{ property.description }}" src="{{ property.media.first ? property.media.first.path : '' }}"/>
						<button class="absolute top-md right-md text-white/90 hover:text-primary transition-colors">
							<span class="material-symbols-outlined text-2xl drop-shadow-md">favorite</span>
						</button>
					</div>
					<div class="flex justify-between items-start">
						<div>
							<h3 class="font-label-bold text-on-surface">{{ property.title }}</h3>
							<p class="text-on-surface-variant font-body-sm">{{ property.address.city }},
								{{ property.address.country }}</p>
							<p class="text-on-surface-variant font-body-sm">Check-in:
								{{ property.checkinTime|date("H:i") }}</p>
							<p class="text-on-surface-variant font-body-sm">Check-out:
								{{ property.checkoutTime|date("H:i") }}</p>
							<p class="mt-xs">
								<span class="font-label-bold">{{ property.pricePerNight }}</span>
								<span class="font-body-sm">night</span>
							</p>
						</div>
						<div class="flex items-center gap-xs">
							<span class="material-symbols-outlined text-[16px]" style="font-variation-settings: 'FILL' 1;">star</span>
							<span class="font-body-sm">4.98</span>
						</div>
					</div>
				</div>


			{% endfor %}
		</div>
	</main>

{% endblock %}
